<div class="menu-container js-menu-container" id="mobile-menu">
  <!-- btn-close -->
  <button class="menu-toggle js-close-menu">
    <svg width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="burger-menu">
    <div class="burger-menu__box">
        <h1>dsfl'sdf</h1>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
        <p>sfksdfds;flskf</p>
  
       
    </div>
  </div>
</div>
