<div class="menu-container js-menu-container" id="mobile-menu">
  <!-- btn-close -->
  <button class="menu-toggle js-close-menu">
    <svg width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="burger-menu">
    <div class="burger-menu__box">
      <ul class="burger-menu__list">
        <li class="burger-menu__item">
          <a href="" class="burger-menu__link">Каталог</a>
        </li>
        <li class="burger-menu__item">
          <a href="" class="burger-menu__link">Диваны</a>
        </li>
        <li class="burger-menu__item">
          <a href="" class="burger-menu__link">Пуфы</a>
        </li>
        <li class="burger-menu__item">
          <a href="" class="burger-menu__link">Столы</a>
        </li>
      </ul>
    </div>

    <div class="bm-s">
      <ul class="bm-s__list">
        <li class="bm-s__item">
          <a
            href=""
            target="_blank"
            rel="noopener nofollow noreferrer"
            class="bm-s__link"
          >
            <svg width="42" height="42">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="bm-s__item">
          <a
            href=""
            target="_blank"
            rel="noopener nofollow noreferrer"
            class="bm-s__link"
          >
            <svg width="42" height="42">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="bm-s__item">
          <a
            href=""
            target="_blank"
            rel="noopener nofollow noreferrer"
            class="bm-s__link"
          >
            <svg width="42" height="42">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="bm-s__tel">
        <a href="tel:+380996384537" class="bm-s__link">+38 (099)-638-45-37</a>
      </div>
    </div>
  </div>
</div>

<!-- <li class="bm-s__item">
  <a
    href=""
    target="_blank"
    rel="noopener nofollow noreferrer"
    class="bm-s__link"
  >
    <svg width="42" height="42">
      <use href="./images/icons.svg#icon-facebook"></use>
    </svg>
  </a>
</li> -->