// TEXT
$primary-text: #2c2b29;
$secondary-text: #403730;
$tertiary-text: #f9f9f9;
$btn-text: #f9f9f9;
$accent: #f6973f;
$form-text: #AEAEAE;
$logo: #463530;

// BACKGROUND
$bg-body: #fafafa;
$bg-primary: #c9c1ad;
$bg-element: #f6973f;
$bg-btn: #f6973f;
$bg-pagination: #f2f3f5;
$bg-light-gray: #e7e7e7;
$bg-dark-gray: #5b5b5b;

// ELEMENTS
$vector-line: rgba(90, 90, 90, 0.2);
$form-line: #AEAEAE;
$form-checkout: #AEAEAE;
$icons-social: #403730;
