<section class="company-info" id="info">
  <h3 hidden>info</h3>
  <ul class="ci-list">
    <div class="ci-number">1</div>
    <li class="ci-item">
      <p class="ci-text">
        Осуществляемые компанией «Экми-Мебель» постоянные инвестиции в
        сертификацию своей продукции, убедительно подтверждают лидерство
        компании на украинском рынке высококачественной мягкой мебели.
      </p>
    </li>
    <div class="ci-number">2</div>
    <li class="ci-item">
      <p class="ci-text">
        Фабрика «Экми-мебель» сертифицирована по системе менеджмента качества
        ISO 9001:2000 на соответствие международным стандартам,
        представительством «Бюро Веритас» в Украине.
      </p>
    </li>
    <div class="ci-number">3</div>
    <li class="ci-item">
      <p class="ci-text">
        Компания «Экми-Мебель» первой из украинских производителей мягкой мебели
        обеспечила свою мебель полноценной гарантией и первой обоснованно
        заявила о лучшем качестве производимой мебели.
      </p>
    </li>
  </ul>
</section>
