<section class="custom-furnitere">
  <div class="custom-furnitere-container">
    <div class="rectangleCF1">
      <div class="rectangleCF1__text">furniture</div>
    </div>

    <div class="custom-furnitere-text-box">
      <h2 class="section-title">
        <span class="letter">И</span>ндивидуальная мебель
      </h2>
      <p class="section-subtitle">Полный цикл производства.</p>

      <p class="section-text">
        Качество мягкой мебели начинается задолго до начала ее производства.
      </p>
    </div>

    <div class="custom-furnitere-box">
      <div class="rectangleCF2">
        <img src="./images/grid.svg" alt="grid" class="gridCF" />
      </div>
      <div class="test-img-section">img</div>

      <div class="rectangleCF3"></div>
    </div>

    <button type="button" class="btn">Индивидуальная мебель</button>
  </div>
</section>
