<section class="form-section">
  <div class="form-container">
    <div class="form-box">
      <div class="action-text-box">
        <b class="action-text">Заполните форму</b>
      </div>
      <div class="form-subtitle-box">
        <p class="form-subtitle">остались вопросы?</p>
      </div>

      <!-- FORM -->
      <div class="form-block">
        <form class="form">
          <label class="data-field">
            <input
              type="text"
              name="name"
              class="data-field__input"
              placeholder=" "
            />
            <p class="data-field-text data-field-text__name">Ваше имя*</p>
          </label>
          <label class="data-field">
            <input
              type="tel"
              name="tel"
              class="data-field__input"
              placeholder=" "
            />
            <p class="data-field-text data-field-text__name">Ваш номер телефона*</p>
          </label>
          <label class="data-field">
            <input
              type="text"
              name="country"
              class="data-field__input"
              placeholder=" "
            />
            <p class="data-field-text data-field-text__name">Страна</p>
          </label>
          <label class="data-field">
            <input
              type="text"
              name="comment"
              class="data-field__input"
              placeholder=" "
            />
            <p class="data-field-text data-field-text__comment">Комментарий</p>
          </label>

          <div class="policy-box">
            <label class="policy">
              <div class="checkbox-box">
                <input
                  class="policy__checkbox"
                  type="checkbox"
                  name="policy"
                  value="css"
                />
                <p class="policy__icon"></p>

                <p class="policy__text">
                  Подтверждая заказ, я принимаю условия пользовательского
                  соглашения
                </p>
              </div>
            </label>
          </div>

          <button type="button" class="btn">Запросить звонок</button>
        </form>
      </div>
    </div>
  </div>
</section>
