<!-- Треба додати слайдер з магінацією як в макеті -->
<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      <span class="letter">Л</span>учшая жизнь созданная для вас!
    </h1>

    <div class="hero-img">
      <ul class="hero-img-slider">
        <li>
          <img
            src="./images/mob/hero-mob1_375.png"
            alt="gray sofa and pouf "
          />
        </li>
        <li>
          <img
            src="./images/mob/hero-mob2_375.png"
            alt="gray table and white pouf"
          />
        </li>
        <li>
          <img
            src="./images/mob/hero-mob3_375.png"
            alt="gray table and green pouf"
          />
        </li>
      </ul>
    </div>

    <div class="btn-box">
      <button class="btn">Перейти в каталог</button>
    </div>
  </div>
</section>
