.burger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  height: 100%;

  &__list {
    margin-top: 16px;
  }

  &__item {
    // transform: translateY(-80px);
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include font(22px, 1.1, 0.03em, 300);

    color: $primary-text;
    padding: 5px 0;
  }
}

.bm-s {
  padding-top: 252px;
  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    fill: $icons-social-bm;
    color: $icons-social-bm;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1),
      color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover {
      fill: $accent;
      color: $accent;
    }
  }

  &__tel {
    @include font(20px, 1.1, 0.03em, 300);

    display: flex;
    justify-content: center;
    padding-top: 32px;
  }
}
