<section class="catalog">
  <div class="catalog-container">
    <div class="catalog-poufs">
      <h1 hidden></h1>
      <h2 class="catalog-poufs__title">Пуфи</h2>

      <ul class="catalog-list">
        <li class="catalog-item">
          <article>
            <img
              srcset="
                ./images/mob/catalog/pink_poug_160.png   160w,
                ./images/mob/catalog/pink_poug@2_160.png 320w
              "
              sizes="(min-width: 375px) 160px, 100vw"
              src="./images/mob/catalog/pink_poug_160.png"
              alt="Pink pouf"
            />
          </article>
        </li>
        <li class="catalog-item">
          <article>
            <img
              srcset="
                ./images/mob/catalog/black_pouf_160.png   160w,
                ./images/mob/catalog/black_pouf@2_160.png 320w
              "
              sizes="(min-width: 375px) 160px, 100vw"
              src="./images/mob/catalog/black_pouf_160.png"
              alt="Black pouf"
            />
          </article>
        </li>
        <li class="catalog-item">
          <article>
            <img
              srcset="
                ./images/mob/catalog/gray_pouf_160.png   160w,
                ./images/mob/catalog/gray_pouf@2_160.png 320w
              "
              sizes="(min-width: 375px) 160px, 100vw"
              src="./images/mob/catalog/gray_pouf_160.png"
              alt="Gray pouf"
            />
          </article>
        </li>
        <li class="catalog-item">
          <article>
            <img
              srcset="
                ./images/mob/catalog/blue_pouf_160.png   160w,
                ./images/mob/catalog/blue_pouf@2_160.png 320w
              "
              sizes="(min-width: 375px) 160px, 100vw"
              src="./images/mob/catalog/blue_pouf_160.png"
              alt="Blue pouf"
            />
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
