.custom-furnitere {
  // background-color: $bg-dark-gray;
  margin-bottom: 296px;
}

.custom-furnitere-container {
  position: relative;
  background-color: $bg-dark-gray;
  max-height: 453px;
}

.custom-furnitere-box {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 515px;
}

.rectangleCF1 {
  position: absolute;
  content: '';
  background-color: $bg-element;
  top: -35px;
  right: 0px;
  min-width: 92px;
  min-height: 70px;

  &__text {
    @include font(10px, 1.3, 0.25em, 300);

    position: absolute;
    bottom: 11px;
    left: 5px;
    color: $tertiary-text;
  }
}

.custom-furnitere-text-box {
  padding: 0 18px;
}

.section-title {
  @include fontMini(22px, 1, 700);
  color: $tertiary-text;
  padding: 78px 0 20px 0;

  &__dark {
    @include fontMini(22px, 1, 700);
    color: $primary-text;
    padding: 78px 0 20px 0;
  }

  &__ourHistory {
    position: absolute;
    top: -52;
    left: 18px;
    padding: 0;
  }

  &__last-public {
    padding: 0 0 32px 0;
  }
}

.section-subtitle {
  @include font(18px, 1.3, 0.08em, 500);

  color: $tertiary-text;
  padding-bottom: 12px;

  &__ourHistory {
    padding-top: 48px;
  }
}

.section-text {
  @include font(14px, 1.4, 0.15em, 300);

  color: $tertiary-text;
  padding-bottom: 68px;

  &__48 {
    padding-bottom: 48px;
  }
}

.test-img-section {
  position: relative;
  top: 0px;
  width: 340px;
  height: 239px;
  background-color: rgb(171, 166, 206);
  margin: 0 auto;
  margin-bottom: 92px;

  &__0 {
    margin-bottom: 15px;
  }
}

.rectangleCF2 {
  position: absolute;
  bottom: -59px;
  right: 0px;
  background-color: $bg-light-gray;
  min-width: 287px;
  min-height: 260px;
}

.gridCF {
  position: absolute;
  top: 0;
  left: -1px;
  min-width: 287px;
  min-height: 260px;
}

.rectangleCF3 {
  position: absolute;
  content: '';
  background-color: $bg-element;
  bottom: -16px;
  left: 55px;
  min-width: 67px;
  min-height: 42px;
}
