html.sr .load-hidden {
  visibility: hidden;
}

.hero {
  background-color: $bg-primary;
  margin-bottom: 95px;
  padding: 0 18px;
}

.hero-title {
  @include fontMini(25px, 1.1, 500);
  color: $tertiary-text;
  padding: 32px 52px 32px 18px;
  text-transform: uppercase;
}

.letter {
  color: $accent;
}

.btn-box {
  display: flex;
  justify-content: center;
  padding: 32px 0px 87px 0px;
}

.btn {
  @include font(14px, 1.5, 0.8, 500);
  color: $btn-text;
  text-transform: uppercase;
  padding: 11px 23px;
  margin: 0 auto;
  background-color: $bg-btn;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: none;
  display: block;

  &:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1),
      inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}

// .swiper {
//   position: relative;
// }

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 1px;
}

.swiper-pagination-bullet-active {
  background-color: $accent !important;
}
