.last-public {
  position: relative;
  padding: 0 18px;
  margin-bottom: 60px;
}

.lp-catalog-box {
  padding-bottom: 32px;
  max-width: 250px;

  &:hover .lp-catalog {
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $secondary-text;
  }

  &:hover .lp-arrow {
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $accent;
  }
}

.lp-catalog {
  @include font(18px, 1.1, 0.05em, 700);

  display: flex;
  padding: 5px;
  color: $accent;
  cursor: none;
  outline: none;
}

.lp-arrow {
  fill: $arrow-catalog;
  margin-left: 8px;
}

.lp-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover .overlay-text,
  &:focus .overlay-text {
    transform: translateY(0);
  }

  &:active .overlay-text {
    transform: translateY(100%);
  }
}

.lp-name {
  @include fontMini(18px, 1.2, 500);

  margin: 0 auto;
  text-transform: uppercase;
  color: $secondary-text;
  padding-top: 16px;
  padding-bottom: 20px;
}

.swiper-scrollbar-horizontal {
  opacity: 1 !important;
}

.swiper-container {
  overflow: hidden;
}

.swiper-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
}

// OVERLAY
.overlay-card {
  // position: relative;
  // overflow: hidden;
  border-radius: 4px;
}

.lp-img-box {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 340px;
  height: 278px;
  background-color: $bg-slide-card;
  border-radius: 4px;
}

.overlay-text {
  @include font(14px, 1.1, 0.03, 400);

  overflow: visible;
  color: $tertiary-text;
  padding: 15px;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 340px;
  // height: 100%;
  min-height: 278px;

  background-color: $bg-overlay;

  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    transform: translateY(-100%);
  }
}

// MODAL
// .modal {
//   display: none;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   min-width: 340px;
//   min-height: 278px;
//   z-index: 2;
//   display: flex;
// }

// .modal__inner {
//   background-color: $bg-overlay;
//   width: 100%;
//   border-radius: 4px;
//   color: $tertiary-text;
// }

// .overlay-text {
//   @include font(14px, 0, 0.03, 400);

//   position: absolute;
//   top: 15;
//   left: 15;
//   color: $tertiary-text;
// }

// .button {
//   position: absolute;
//   bottom: 65px;
//   right: 8px;
//   padding: 5px 10px;
//   border: none;
//   border-radius: 4px;
//   z-index: 4;
//   outline: none;

//   &:active {
//     box-shadow: none;
//   }
// }
