.last-public {
  padding: 0 18px;
  margin-bottom: 60px;
  position: relative;
}

.card-prod-text {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.lp-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lp-name {
  @include fontMini(18px, 1.2, 500);

  text-transform: uppercase;
  color: $secondary-text;
  padding-top: 16px;
  padding-bottom: 20px;
}

.swiper-scrollbar-horizontal {
  opacity: 1 !important;
}

.swiper-container {
  overflow: hidden;
}

.swiper-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
}

// .lp-item {
//   display: flex;
//   justify-content: center;
// }

.lp-img-box {
  display: flex;
  justify-content: center;
  min-width: 340px;
  height: 278px;
  background-color: $bg-slide-card;
  border-radius: 4px;
}
