.last-public {
  position: relative;
  padding: 0 18px;
  margin-bottom: 60px;
}

.lp-catalog-box {
  padding-bottom: 32px;
  max-width: 250px;

  &:hover .lp-catalog {
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $secondary-text;
  }

  &:hover .lp-arrow {
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $accent;
  }
}

.lp-catalog {
  @include font(18px, 1.1, 0.05em, 700);

  display: flex;
  padding: 5px;
  // max-width: 250px;
  color: $accent;
  cursor: none;
  outline: none;
}

.lp-arrow {
  fill: $arrow-catalog;
  margin-left: 8px;
}

.lp-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lp-name {
  @include fontMini(18px, 1.2, 500);

  text-transform: uppercase;
  color: $secondary-text;
  padding-top: 16px;
  padding-bottom: 20px;
}

.swiper-scrollbar-horizontal {
  opacity: 1 !important;
}

.swiper-container {
  overflow: hidden;
}

.swiper-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
}

// .lp-item {
//   display: flex;
//   justify-content: center;
// }

.lp-img-box {
  display: flex;
  justify-content: center;
  min-width: 340px;
  height: 278px;
  background-color: $bg-slide-card;
  border-radius: 4px;
}
